#!/usr/bin/make -f
export QT_SELECT := 5
# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
include /usr/share/dpkg/default.mk

# Check if the system name contains `uos`, and environment supports deepin-elf-verify, use 'control.uos'.
# Add deepin-elf-verify / deepin-elf-sign-tool to Depends of deepin-deb-installer.
CONTROL_FILE = debian/control
# If SystemName contain 'UOS' and deepin-elf-verify exists;
UOS_SYSTEM := $(shell grep -ioP 'SystemName=\KUOS.*' /etc/os-version)
ifneq ($(UOS_SYSTEM),)
	ELF_EXISTS := $(shell apt-cache show deepin-elf-verify deepin-elf-sign-tool 2>/dev/null | grep -E '^Package:')
	ifneq ($(ELF_EXISTS),)
		CONTROL_FILE = debian/control.uos
	endif
endif

override_dh_auto_configure:
	dh_auto_configure -- \
    -DCMAKE_BUILD_TYPE=Release \
    -DCMAKE_SAFETYTEST_ARG="CMAKE_SAFETYTEST_ARG_OFF" \
    -DAPP_VERSION=$(DEB_VERSION_UPSTREAM) -DVERSION=$(DEB_VERSION_UPSTREAM) LIB_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)
%:
	dh $@ --parallel

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_gencontrol:
	@echo "--- current system is '$(UOS_SYSTEM)', control file is '$(CONTROL_FILE)'"
	dh_gencontrol -- -c$(CONTROL_FILE)

